.cover__overlay {
  background-image: url('../../../images/cover-trains.jpg');
  background-size: cover;
  text-decoration: none;
  width: 100%;
  height: 100%;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 1279px) {
  .cover__overlay {
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__overlay {
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__overlay {
    min-height: 255px;
  }
}



@media screen and (max-width: 424px) {
  .cover__overlay {
    min-height: 200px;
  }
}

  .cover__overlay::before {
    background-color: #2A2C2F;
    opacity: 0.3;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.8s linear;
  }

  .cover__overlay:hover::before {
    opacity: 0.8;
  }
